Descriptive analysis 
Histogram 
Pair-plots for correlations variable

In [15]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("C:\\Users\\Myckland\\Google Drive\\RMDS-20210603T030223Z-001\\RMDS\\full_data_2.csv")

In [3]:
data.head()

,cityid,zpid,countyid,homeType,zipcode,bathrooms,tax year,tax_paid,tax_assessment,year_built,...,hasCooling,lotSize,livingArea,furnished,homeStatus,datePosted,bedrooms,price,priceHistory,schools
0,20330,15063325,3227,SINGLE_FAMILY,94109,4.0,2020,61868.14,5107533.0,1900.0,...,True,"3,953 sqft","4,500 sqft",False,FOR_SALE,1.613420e+12,4.0,6299000,"[{'priceChangeRate': -0.07299484915379, 'event...",[{'link': 'https://www.greatschools.org/school...
1,20330,15064243,3227,CONDO,94111,2.0,2020,13054.02,1033716.0,1993.0,...,NaN,NaN,"1,033 sqft",False,FOR_SALE,1.617630e+12,2.0,1035000,"[{'priceChangeRate': 0.083769633507853, 'event...",[{'link': 'https://www.greatschools.org/school...
2,20330,15064559,3227,CONDO,94109,4.0,2020,48079.48,3940936.0,1976.0,...,NaN,"5,695 sqft","3,746 sqft",False,FOR_SALE,1.615230e+12,3.0,5495000,"[{'priceChangeRate': 0.57, 'event': 'Listed fo...",[{'link': 'https://www.greatschools.org/school...
3,20330,15064689,3227,CONDO,94133,1.0,2020,6191.64,514373.0,1908.0,...,True,"3,780 sqft","1,600 sqft",False,FOR_SALE,1.618500e+12,2.0,1495000,"[{'priceChangeRate': 0, 'event': 'Listed for s...",[{'link': 'https://www.greatschools.org/school...
4,20330,15064806,3227,SINGLE_FAMILY,94133,2.0,2020,23832.32,1929479.0,1928.0,...,True,"1,202 sqft","1,700 sqft",False,FOR_SALE,1.614930e+12,2.0,2500000,"[{'priceChangeRate': 0.48809523809524, 'event'...",[{'link': 'https://www.greatschools.org/school...

In [4]:
data.describe()

,cityid,zpid,countyid,zipcode,bathrooms,tax year,tax_paid,tax_assessment,year_built,datePosted,bedrooms,price
count,11900.000000,1.190000e+04,11900.000000,11900.000000,11090.000000,11900.000000,11843.000000,1.187900e+04,11524.000000,8.817000e+03,10918.000000,1.190000e+04
mean,23792.455966,4.904960e+07,2860.653950,92054.570756,2.421010,2019.804874,10691.523831,8.407973e+05,1954.398646,1.606755e+12,3.075197,1.539653e+06
std,15993.285556,6.787194e+07,634.600433,1957.198988,1.568334,0.422785,18538.687517,1.496212e+06,130.478912,1.839183e+10,1.554814,3.877577e+06
min,3506.000000,1.506332e+07,204.000000,53215.000000,0.000000,2016.000000,16.600000,6.420000e+02,0.000000,1.398870e+12,0.000000,0.000000e+00
25%,12447.000000,1.973387e+07,2841.000000,90049.000000,2.000000,2020.000000,3838.840000,2.873095e+05,1936.750000,1.604090e+12,2.000000,5.290000e+05
50%,12447.000000,2.061450e+07,3101.000000,91602.000000,2.000000,2020.000000,6921.090000,5.382140e+05,1962.000000,1.615480e+12,3.000000,7.850000e+05
75%,33839.000000,2.600290e+07,3101.000000,94107.000000,3.000000,2020.000000,11244.265000,8.739350e+05,1987.000000,1.618260e+12,4.000000,1.268200e+06
max,54296.000000,3.316446e+08,3227.000000,95864.000000,24.000000,2020.000000,382738.720000,3.009000e+07,2022.000000,1.619140e+12,36.000000,9.900000e+07

In [8]:
data.isna().sum()

cityid                   0
zpid                     0
countyid                 0
homeType                 0
zipcode                  0
bathrooms              810
tax year                 0
tax_paid                57
tax_assessment          21
year_built             376
parcelNumber             5
hasGarage                0
hasPetsAllowed           0
architecturalStyle    7706
hoa                   9327
hasPrivatePool        4350
heating               1564
hasCooling            1590
lotSize               1077
livingArea             712
furnished                0
homeStatus               0
datePosted            3083
bedrooms               982
price                    0
priceHistory            35
schools                  7
dtype: int64

In [28]:
data.columns

Index(['cityid', 'zpid', 'countyid', 'homeType', 'zipcode', 'bathrooms',
       'tax year', 'tax_paid', 'tax_assessment', 'year_built', 'parcelNumber',
       'hasGarage', 'hasPetsAllowed', 'architecturalStyle', 'hoa',
       'hasPrivatePool', 'heating', 'hasCooling', 'lotSize', 'livingArea',
       'furnished', 'homeStatus', 'datePosted', 'bedrooms', 'price',
       'priceHistory', 'schools'],
      dtype='object')

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11900 entries, 0 to 11899
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cityid              11900 non-null  int64
 1   zpid                11900 non-null  int64
 2   countyid            11900 non-null  int64
 3   homeType            11900 non-null  object
 4   zipcode             11900 non-null  int64
 5   bathrooms           11090 non-null  float64
 6   tax year            11900 non-null  int64
 7   tax_paid            11843 non-null  float64
 8   tax_assessment      11879 non-null  float64
 9   year_built          11524 non-null  float64
 10  parcelNumber        11895 non-null  object
 11  hasGarage           11900 non-null  bool
 12  hasPetsAllowed      11900 non-null  bool
 13  architecturalStyle  4194 non-null   object
 14  hoa                 2573 non-null   object
 15  hasPrivatePool      7550 non-null   object
 16  heating             10336 non-null  object
 17  hasCooling          10310 non-null  object
 18  lotSize             10823 non-null  object
 19  livingArea          11188 non-null  object
 20  furnished           11900 non-null  bool
 21  homeStatus          11900 non-null  object
 22  datePosted          8817 non-null   float64
 23  bedrooms            10918 non-null  float64
 24  price               11900 non-null  int64
 25  priceHistory        11865 non-null  object
 26  schools             11893 non-null  object
dtypes: bool(3), float64(6), int64(6), object(12)
memory usage: 2.2+ MB

In [31]:
data['hasCooling'].value_counts()

True     8990
False    1320
Name: hasCooling, dtype: int64

In [32]:
data['hasCooling']

0         True
1          NaN
2          NaN
3         True
4         True
         ...
11895     True
11896    False
11897    False
11898    False
11899    False
Name: hasCooling, Length: 11900, dtype: object